

body {
background:#ccc;
margin:0;

}

.centermain{
  
  background-color:#fff;
  padding:15px;
  width: 500px;
  height: 500px;
  position: absolute;
  top:100px;
  margin: auto;
  z-index:-100;

}

.kitcontain{
  background-image:url('jumptransparent.png');
  background-size: contain;
  padding:15px;
  width: 500px;
  height: 300px;
  position: absolute;
  margin: auto;
  z-index:10;
  left:250px;
  
}

